
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Projeto_Trainee_Hub.ViewModel.TreinamentoUsuariosViewModel

<div class="container-body">
    <div class="container-photo">
        <div class="user-photo">
            <img src="~/images/IconePerfil(2).png">
            <button class="EditarPerfil" type="button">Editar Perfil</button>
            <a asp-action="GerirUsuarios" asp-controller="Admin" class="GerirUsuarios" type="button">Gerir Usuários</a>
        </div>
    </div>
    <div class="container-info">
        <div class="user-info">
            <div class="nome">
                <h3>Nome</h3>
                <label>@Model.usuarios.Nome</label>
            </div>
            <div class="email">
                <h3>Email</h3>
                <label>@Model.usuarios.Email</label>
            </div>
            <div class="matricula">
                <h3>Matrícula</h3>
                <label>@Model.usuarios.Matricula</label>
            </div>
            <div class="setor">
                <h3>Setor</h3>
                <label>@Model.usuarios?.IdSetorNavigation?.Nome</label>
            </div>
            <div class="treinamentos-concluidos">
                <h3>Treinamentos Concluídos</h3>
                <label>@Model.usuarios?.QtdTreinamentos</label>
            </div>
        </div>
    </div>
    <div class="container-treinamento">
        <div class="topo">
            <h1>TREINAMENTOS</h1>
            <button class="btnAbrirAdd" type="button" onclick="OpenModal('modal-treinamento')">
                Adicionar
            </button>
        </div>
        
        <ul class="bloco_treinamento">
        @foreach(var treinamento in @Model.listaTreinamentos) 
        {
            <li class="list-andamento" style="width: 38rem;">
                <a asp-controller="Admin" asp-action="Treinamentos" asp-route-id="@treinamento.IdTreinamentos">
                    <div class="moldura">
                        <img src="~/images/upload/treinamentos/@treinamento.Imagem">
                    </div>
                    <div class="card-content">
                        <div class="card-title">@treinamento.Nome</div> <!-- Usando os dados de treinamento -->
                        <div class="card-date">DATA ÍNICIO: @treinamento.DataInicio</div> <!-- Usando os dados de treinamento -->
                    </div>
                </a>
            </li>
        }
    </ul>
</div>
    

<div class="modal" id="modal-treinamento">
    <div class="modal-content">
        <h1 class="titulo-modal">CRIAR TREINAMENTO</h1>
        <form asp-controller="Treinamentos" asp-action="CriarTreinamento" method="post" enctype="multipart/form-data">
            <div class="inputnome">
                <label>Nome:</label><br>
                <input asp-for="@Model.treinamentos.Nome" placeholder="Insira o nome do treinamento" class="input-nome" type="text" id="nome" required>
            </div>      

            <div class="input-instrutor">
                <label>Instrutor:</label><br>
                <input asp-for="@Model.treinamentos.Instrutor" style="width:100%"  placeholder="Insira o nome do instrutor" class="instrutor" type="text" id="instrutor" required>
            </div>

            <label>Descrição:</label><br>
            <textarea placeholder="Descreva o treinamento" style="width:100%"  id="descricao" asp-for="@Model.treinamentos.Descricao" required></textarea>
            
            <div class="container-data">
                <div class="container-datainicio">
                    <label>Data de Início:</label><br>
                    <input type="date" id="datainicio" asp-for="@Model.treinamentos.DataInicio" required>
                </div>
                <div class="container-datafim">
                    <label>Data de Fim:</label><br>
                    <input type="date" id="datafim" asp-for="@Model.treinamentos.DataFim" required>
                </div>
            </div>
            
            <label id="imagem">Imagem Ilustrativa:</label><br>
            <label asp-for="@Model.File" class="drop-container" id="dropcontainer"> 
                <span class="drop-title">Insira o Arquivo aqui</span>
                ou
                <input asp-for="@Model.File" type="file" id="images-treinamento" accept="image/*" required>
            </label>

            <input type="hidden" id="duracao" asp-for="@Model.treinamentos.Duracao" value="0"> 
            <input type="hidden" id="entidades" asp-for="@Model.treinamentos.Entidades" value="@Model.usuarios?.IdEmpresa">
            <input type="hidden" id="idEmpresa" asp-for="@Model.treinamentos.IdEmpresa" value="@Model.usuarios?.IdEmpresa">
            <input type="hidden" id="idCriador" asp-for="@Model.treinamentos.IdCriador" value="@Model.usuarios?.IdUsuarios">

            <div class="buttons"> 
                <button class="btnAddTreinamento" type="submit">CRIAR</button>
                <button class="btnClose" onclick="closeModal()">SAIR</button>
            </div>   
        </form>   
    </div>
</div>

    