@{
    ViewData["Title"] = "Perfil";
}
@model Usuarios
<div class="container-body">
    <div class="container-photo">
        <div class="user-photo">
            <img src="~/images/IconePerfil(2).png">
            <button class="EditarPerfil" type="button">Editar Perfil</button>
        </div>
    </div>
    <div class="container-info">
        <div class="user-info">
            <div class="nome">
                <h3>Nome</h3>
                <label>@Model.Nome</label>
            </div>
            <div class="email">
                <h3>Email</h3>
                <label>@Model.Email</label>
            </div>
            <div class="matricula">
                <h3>Matrícula</h3>
                <label>@Model.Matricula</label>
            </div>
            <div class="setor">
                <h3>Setor</h3>
                <label>@Model.IdSetorNavigation.Nome</label>
            </div>
            <div class="treinamentos-concluidos">
                <h3>Treinamentos Concluídos</h3>
                <label>@Model.QtdTreinamentos</label>
            </div>
        </div>
    </div>
    <div class="container-treinamento">
        <div class="topo">
            <h1>TREINAMENTOS</h1>
            <button class="btnAbrirAdd" type="button" onclick="AbrirAdd()">
                Adicionar
            </button>
        </div>
        
        <ul class="bloco_treinamento">
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="100"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="10"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="100"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="50"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="50"></span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-andamento">
                <a href="#">
                    <div class="moldura">
                        <img src="~/images/image 2.png">
                    </div>
                    <div class="card-content">
                        <div class="card-title">TREINAMENTO DE RN11</div>
                        <div class="card-date">DATA ÍNICIO: 10/03/25</div>
                        <div class="progressbar">
                            <span data-width="50"></span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="modal">
        <div class="modal-treinamento">
            <h1>CRIAR TREINAMENTO</h1>
            <label for="nome" id="nome" name="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome">

            <label for="descricao" id="descricao" name="descricao">Descrição:</label><br>
            <input type="text" id="descricao" name="descricao">
            
            <label for="datainicio" id="datainicio" name="datainicio">Data Início:</label><br>
            <input type="date" id="datainicio" name="datainicio">
            
            <label for="datafim" id="datafim" name="datafim">Data Fim:</label><br>
            <input type="date" id="datafim" name="datafim">

            <label for="imagem" id="imagem" name="imagem">imagem Ilustratíva:</label><br>
            <input type="file" id="imagem" name="imagem">
            
            <button class="btnAddTreinamento" onclick="addTreinamento()">CRIAR</button>
            <button class="btnClose" onclick="closeModal()">SAIR</button>
        </div>
    </div>
</div>