@model Projeto_Trainee_Hub.ViewModel.TreinamentoModuloViewModel
@{
    ViewData["Title"] = "Treinamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="texto_modulo" style="margin-left: 160px;">
    <div class="d-flex align-items-center gap-4">
        <h1 class="m-0" style="font-size: 64px; margin-top: 40px; line-break: anywhere">@Model.treinamentos.Nome</h1>
        <p class="m-0" style="font-size: 20px; line-break: anywhere; margin-left: 10px;">@Model.treinamentos.Descricao</p>
    </div>
    <div class="btnModulo" style="display: flex; gap: 10px; justify-content: flex-end;">
        <button class="btn btn-success adicionar" onclick="OpenModal('modal-modulo')">Adicionar M贸dulo</button>
        <button class="btn btn-primary btnAbrirAdd" onclick="OpenModal('modal-treinamentoE')">锔 Editar</button>
        <div class="btn-group">
            <form asp-controller="Treinamentos" asp-action="Deletar" method="post" onsubmit="return confirm('Tem certeza que quer deletar o treinamento?')">
                @Html.AntiForgeryToken()
                <input type="hidden" name="IdTreinamentos" value="@Model.treinamentos.IdTreinamentos" />
                <button type="submit" class="btn btn-danger"> Deletar</button>
            </form>
        </div>
    </div>
</div>

<hr>

<ul class="bloco_modulos">
    @foreach (var modulo in Model.listaModulos)
    {
        <li class="header">
            <div class="Modulos">
                <h2>MDULO @modulo.Sequencia - @modulo.Nome</h2>
                <div class="Botoes">
                    <a asp-action="Modulos" asp-controller="Admin" asp-route-id="@modulo.IdModulos" aspclass="conteudo"> CONTEDO</a>
                    <button type="button" class="editar" onclick="preencherModalEditar('@modulo.IdModulos', '@modulo.Nome', '@modulo.Descricao', '@modulo.Sequencia')">锔</button>
                    <form asp-controller="Modulos" asp-action="Deletar" method="post" onsubmit="return confirm('Tem certeza que quer deletar m贸dulo?')">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="idModulo" value="@modulo.IdModulos" />
                        <button class="excluir btn btn-danger"></button>
                    </form>
                </div>
                
                @foreach (var aula in Model.listaAulas.Where(a => a.IdModulo == modulo.IdModulos))
                {
                    <div class="selecionar">
                        <input type="checkbox" id="modulo1">
                        <label for="modulo1">@aula.Nome</label>
                    </div>
                }

            </div>
        </li>
    }
</ul>

<!-- Modal CRIAR M贸dulo -->
<div class="modal" id="modal-modulo">
    <div class="modal-content">
        <h1 class="titulo-modal">CRIAR MDULO</h1>
        <form asp-action="CriarModulo" asp-controller="Modulos">
            <div class="inputnome">
                <label>Nome:</label><br>
                <input type="text" asp-for="@Model.modulos.Nome" class="input-nome" placeholder="Insira o nome do m贸dulo" id="nome">
            </div>
            <label>Descri莽茫o:</label><br>
            <textarea asp-for="@Model.modulos.Descricao" placeholder="Descreva o m贸dulo" style="width:100%" id="descricao"></textarea>
            <div class="buttons">
                <button class="btnAddTreinamento">CRIAR</button>
                <button class="btnClose" onclick="closeModal()">SAIR</button>
            </div>
            <input type="hidden" id="treinamento" asp-for="@Model.treinamentos.IdTreinamentos" value="@Model.treinamentos.IdTreinamentos">
            <input type="hidden" id="sequencia" asp-for="@Model.modulos.Sequencia" value="0">
        </form>
    </div>
</div>

<!-- Modal EDITAR M贸dulo -->
<div class="modal" id="modal-moduloM">
    <div class="modal-content">
        <h1 class="titulo-modal">EDITAR MDULO</h1>
        <form asp-action="Editar" asp-controller="Modulos" method="post">
            <div class="inputnome">
                <label>Nome:</label><br>
                <input type="text" asp-for="@Model.modulos.Nome" class="input-nome" placeholder="Insira o nome do m贸dulo" id="nome-editar">
            </div>
            <label>Descri莽茫o:</label><br>
            <textarea asp-for="@Model.modulos.Descricao" placeholder="Descreva o m贸dulo" style="width:100%" id="descricao-editar"></textarea>

            <input type="hidden" name="modulos.IdModulos" id="modulo-id" />
            <input type="hidden" id="sequencia-editar" name="modulos.Sequencia" />
            <input type="hidden" name="treinamentos.IdTreinamentos" value="@Model.treinamentos.IdTreinamentos" />

            <div class="buttons">
                <button type="submit" class="btnAddTreinamento">SALVAR</button>
                <button type="button" class="btnClose" onclick="closeModal()">SAIR</button>
            </div>
        </form>
    </div>
</div>

<!-- Editar Treinamento-->
<div class="modal" id="modal-treinamentoE">
    <div class="modal-content">
        <h1 class="titulo-modal">EDITAR TREINAMENTO</h1>
        <form asp-controller="Treinamentos" asp-action="Editar" method="post" enctype="multipart/form-data">
            <div class="inputnome">
                <label>Nome:</label><br>
                <input asp-for="@Model.treinamentos.Nome" placeholder="Insira o nome do treinamento" class="input-nome" type="text" id="nome" required>
            </div>      
            <div class="input-instrutor">
                <label>Instrutor:</label><br>
                <input asp-for="@Model.treinamentos.Instrutor" placeholder="Insira o nome do instrutor" style="width:100%" class="instrutor" type="text" id="instrutor" required>
            </div>
            <label>Descri莽茫o:</label><br>
            <textarea placeholder="Descreva o treinamento" style="width:100%" id="descricao" asp-for="@Model.treinamentos.Descricao" required></textarea>
            <div class="container-data">
                <div class="container-datainicio">
                    <label>Data de In铆cio:</label><br>
                    <input type="date" id="datainicio" asp-for="@Model.treinamentos.DataInicio" required>
                </div>
                <div class="container-datafim">
                    <label>Data de Fim:</label><br>
                    <input type="date" id="datafim" asp-for="@Model.treinamentos.DataFim" required>
                </div>
            </div>
           <label id="imagem">Imagem Ilustrativa:</label><br>
            <label asp-for="@Model.File" class="drop-container" id="dropcontainer"> 
                <span class="drop-title">Insira o Arquivo aqui</span>
                ou
                <input asp-for="@Model.File" type="file" id="images-treinamento" accept="image/*">
            </label>
            @if (!string.IsNullOrEmpty(Model.treinamentos.Imagem))
            {
                <div class="mt-2 text-muted">
                     Arquivo atual: <strong>@Model.treinamentos.Imagem</strong>
                </div>
            }
            <input type="hidden" id="treinamento" asp-for="@Model.treinamentos.IdTreinamentos" value="@Model.treinamentos.IdTreinamentos">
            <input type="hidden" id="duracao" asp-for="@Model.treinamentos.Duracao" value="0"> 
            <input type="hidden" id="entidades" asp-for="@Model.treinamentos.Entidades" value="@Model.usuarios?.IdEmpresa">
            <input type="hidden" id="idEmpresa" asp-for="@Model.treinamentos.IdEmpresa" value="@Model.usuarios?.IdEmpresa">
            <input type="hidden" id="IdCriador" asp-for="@Model.treinamentos.IdCriador" value="@Model.usuarios?.IdUsuarios">
            <div class="buttons"> 
                <button class="btnAddTreinamento" type="submit">EDITAR</button>
                <button class="btnClose" onclick="closeModal()">SAIR</button>
            </div>   
        </form>         
    </div>
</div>
 
<script>
    function preencherModalEditar(id, nome, descricao, sequencia) {
        document.getElementById('modulo-id').value = id;
        document.getElementById('nome-editar').value = nome;
        document.getElementById('descricao-editar').value = descricao;
        document.getElementById('sequencia-editar').value = sequencia;

        OpenModal('modal-moduloM');
    }
</script>
