@using System.Security.Claims;
@using Projeto_Trainee_Hub.Controllers;
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Trainee Hub</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/23e523d0aa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" />

</head>
<header class="cabecalho">
    <div class="headerbar">
        <div class="headerbar-conteudo">
            <div class="off-screen-menu">
                <ul>
                    @if (User.IsInRole("2"))
                    {
                        <a asp-area="" asp-controller="Admin" asp-action="Index" asp-route-matricula="@User.FindFirstValue(ClaimTypes.NameIdentifier)"><li>Menu</li></a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Usuario" asp-action="Index" asp-route-matricula="@User.FindFirstValue(ClaimTypes.NameIdentifier)"><li>Menu</li></a>
                    }
                    <li>Sobre</li>
                    <li>Contato</li>
                    <a asp-controller="Home" asp-action="Logout"><li>Sair</li></a>
                </ul>
            </div>
            <div class="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <div class="logos">
                <div class="logo-empresa">
                    <img src="~/images/LOGO EMPRESA.png">
                </div>
                <div class="retangulo"></div>
                <div class="logo-trainee">
                    <a asp-area="" asp-controller="Usuario" asp-action="Index" asp-route-matricula="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                        <img src="~/images/TRAINEEHUBLOGO.png">
                    </a>
                </div>
            </div>
            <div class="perfil">
                <div class="icone-perfil">
                    @if (User.IsInRole("2"))
                    {
                        <a asp-area="" asp-controller="Admin" asp-action="Perfil" asp-route-matricula="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                            <img src="~/images/IconePerfil.png">
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Usuario" asp-action="Perfil" asp-route-matricula="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                            <img src="~/images/IconePerfil.png">
                        </a>
                    }
                </div>    
            </div>
        </div>
    </div>
</header>
<div class="overlay"></div>

<div class="body">
    @RenderBody()
</div>
<!-- Footer is outside the body -->
<footer class="rodape">
    <div class="rodape-direitos">
        <div class="traineelogo">
            <img src="~/images/TRAINEEHUBLOGO.png" id="logo-rodape">
        </div>
        <div class="copyright">
            <p>Copyright © 2025 - Todos os direitos reservados</p>
        </div>
        <div class="privacy-policy">
            <p><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></p>
        </div>
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script >
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>


@if (IsSectionDefined("Scripts"))
{
    @RenderSection("Scripts", required: false)
}

</html>
